<% layout("/layouts/boilerplate") %>
<body>
  <style>
    .pagenotfond {
      margin: auto;
      background-color: aliceblue;
      border-radius: 1rem;
      border: 2px solid black;
      width: fit-content;
      padding: 1rem;
    }
  </style>
  <div class="pagenotfond">
    <h2>404 Page Not Found 😔</h2>
  </div>
</body>
