<style>
.manesh{
    width: 200px;
    height: 100px;
    background-color: aqua;
}
</style>
<div class="manesh">

    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem molestias quibusdam quia ipsum, labore, aliquid facilis natus hic deserunt incidunt iure in cupiditate ipsam placeat ducimus ipsa! Amet, mollitia odio.
        Incidunt, unde. Tempora similique, assumenda corrupti asperiores voluptatibus, voluptas voluptate explicabo molestias deserunt possimus sint alias, iusto mollitia impedit consequuntur exercitationem ipsa cupiditate. Maxime laudantium provident explicabo quod, esse dolorum.
        Aspernatur incidunt, numquam magnam repellat aliquid deleniti dolore mollitia, dolores distinctio iure autem voluptatibus. Aliquam autem dignissimos illum recusandae voluptates corrupti quisquam tempore non ratione aut, quibusdam, itaque, culpa cum.
        Ab unde ducimus nesciunt ratione velit maxime laboriosam, nostrum reiciendis ex. Accusamus quod eaque facere nihil recusandae culpa, quidem id ducimus dolorum laborum. Architecto alias repudiandae magnam quae quis libero?
        Cumque omnis exercitationem vero perferendis, ducimus, labore quod iusto odio ut asperiores quis pariatur numquam natus laboriosam corrupti fugiat ea fuga qui quas quia. Libero odio assumenda accusamus aliquam exercitationem!
        Quod ab numquam eveniet officia enim modi, voluptatem dicta veritatis amet perspiciatis sed optio? Et vero, ratione amet neque animi rerum deleniti, ipsa est modi quis quaerat! Excepturi, incidunt eius?
        Quas amet soluta accusamus dolorem ratione excepturi, inventore vel eaque deserunt suscipit commodi sint ipsam beatae. Fugit, omnis. Porro corrupti repudiandae incidunt eligendi adipisci sunt blanditiis perferendis obcaecati suscipit. Aliquam!
        Est facere, error dolorem minus fugit eos velit deleniti dignissimos. Alias cupiditate fugit quibusdam maxime id placeat quos velit nulla commodi, iusto ipsa, nihil blanditiis, unde doloremque inventore. Nam, illum.
        Dolorem, rerum mollitia! Minus, reprehenderit possimus nostrum placeat, fuga porro saepe quis impedit totam veniam cumque natus aliquid odio, fugit quam animi temporibus laudantium aspernatur aperiam officia! Commodi, maiores reiciendis.
        Totam ab explicabo, animi hic nihil sed accusamus facilis? Illo quidem impedit qui maiores possimus eum adipisci natus eveniet odio ipsam perferendis doloremque nihil voluptas accusantium, sit eaque quas saepe.
    </div>
</div>