<style>
  .body {
    margin: 0;
    padding: 0;
    bottom: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    /* Additional styles for your main content go here */
  }

  .footer {
    width: 100%;
    background-color: #ede4e4;
    text-align: center;
    padding: 1rem;
  }
</style>

<div class="body">
  <div class="content">
    <!-- Your main content goes here -->
  </div>

  <footer class="footer">@Copyright 2023 - Mohammed Abubakar and Team</footer>
</div>
