<style>
    .footer{
        text-align: center;
        color:#9a9a9a;
        padding: 10px 0 20px;
        font-size: 13px;
    }
</style>
<div class="footer">
    <p>Copyright 2023 - Easy Tutorials YouTube Channel</p>
    </div>