<style>
.manesh{
    width: 200px;
    height: 100px;
    background-color: aqua;
}
</style>
<div class="manesh">

    <div>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure perspiciatis nam beatae eius accusamus tempore quia vitae aperiam itaque ipsa! Asperiores maxime, minus aperiam blanditiis aliquam eos temporibus dolorum repellat?
        Distinctio explicabo tempora repellat nemo, reiciendis nihil id doloremque facilis blanditiis quibusdam cumque dicta. Magni, possimus minima. Ab commodi modi possimus, harum mollitia officia, officiis dolorum blanditiis, porro iusto similique?
        Necessitatibus explicabo sint inventore voluptatibus vitae similique reiciendis magnam, eos, vel ipsa sit perferendis voluptas quasi consequatur, aliquam labore! Dolore totam nulla architecto, maiores optio et soluta quia repellat quasi?
        Recusandae, ea tenetur quaerat incidunt architecto ducimus quos quisquam dolor corporis omnis! Placeat ex possimus, sint laborum nam, libero veniam reiciendis harum animi odit consequatur! Aliquam repudiandae culpa nesciunt totam.
        Iusto aperiam, dicta voluptatem soluta consectetur amet, eos necessitatibus architecto harum dignissimos est quaerat eveniet, quasi placeat neque rerum ipsa quis explicabo quisquam iste reiciendis quibusdam doloremque? Rerum, explicabo atque.
        Eos dolore rem dolorem, nesciunt consequatur aliquid tempora fuga, maiores totam autem unde porro molestiae recusandae hic non inventore placeat aperiam, fugiat sapiente maxime. Officia labore similique odio illo excepturi.
        Adipisci, sequi fugit hic, veritatis facilis vitae molestias voluptas reprehenderit doloremque suscipit tempora officia aliquid dolorem voluptatibus iste magnam maxime nisi fuga ad eaque ipsum at! Quos eos temporibus autem.
        Fugiat et nemo sint ea fuga perferendis numquam optio. Veniam odio, ullam itaque nemo voluptatibus dicta. Harum, quaerat facere nam enim, animi tempore distinctio inventore beatae ullam, dignissimos ipsum quos.
        Tempore repellat enim porro provident commodi! Modi dolor veritatis quo nostrum libero expedita dolorem alias voluptates, molestiae iusto fugiat quod sunt itaque. Eveniet, molestias soluta enim neque cupiditate ad! Distinctio.
        Ipsam officia architecto debitis illum? Minus, nemo quis enim consectetur inventore voluptatum amet mollitia, dolore, non corporis praesentium natus similique quibusdam ipsum? Perferendis, temporibus eius eos nam tempora doloremque accusamus.
    </div>
</div>