<style>
  .lefticons {
    margin-left: 3rem;
    margin-top: 0.8rem;
    font-size: larger;
  }
  .lefticon {
    margin-bottom: 1.5rem;
  }
  .lefticon i {
    margin-right: 0.5rem;
    color: blue;
  }
  .lefticon p {
    display: inline;
    opacity: 0.8;
    font-size: medium;
  }
  .lefticon p:hover {
    cursor: pointer;
  }
</style>

<div class="lefticons">
  <div class="lefticon">
    <i class="fa-solid fa-newspaper"> </i>
    <p>Latest News</p>
  </div>

  <div class="lefticon">
    <i class="fa-solid fa-user-group"></i>
    <p>Friends</p>
  </div>

  <div class="lefticon">
    <i class="fa-solid fa-people-group"></i>
    <p>Group</p>
  </div>

  <div class="lefticon">
    <i class="fa-solid fa-cart-shopping"></i>
    <p>Market Place</p>
  </div>

  <div class="lefticon">
    <i class="fa-solid fa-tv"></i>
    <p>Watch</p>
  </div>

  <div class="lefticon">
    <a href="">See More</a>
  </div>
</div>
