<style>
    .load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border:1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}
</style>
<button type="button" class="load-more-btn">Load More</button>