
<!Doctype html>
<html>
    <head>
    </head><style>
        .write-post-container{
            width:100%;
            background:#fff;
            border-radius:6px;
            padding:20px;
            columns: #626262;
        }
        .user-profile{
            display:flex;
            align-items:center;
        }
        .user-profile img{
            width:30px;
            border-radius:50%;
            margin-right:10px;
        }
        .user-profile p{
            margin-bottom:-5px;
            font-weight:500;
            color:#626262;
        }
        .user-profile small{
            font-size:12px;
        }
        .post-input-container{
            padding-left: 55px;
            padding-top: 20px;
        }
        .post-input-container textarea{
            width:80% ;
            border: 0;
            outline: 0;
            border-bottom: 1px solid #ccc;
            background: transparent;
        }
        .add-post-links{
            display: flex;
            margin-top: 10px;
        }
        .add-post-links a{
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #626262;
            margin-right: 30px;
            font-size:10px;
        }
        .add-post-links a img{
            width: 20px;
            margin-right: 10px;
        }
    </style>
<body>
<div class="write-post-container">
    <div class="user-profile">
        <img src="https://img.freepik.com/premium-vector/man-face-design-logo-premium_96853-366.jpg" alt="profile-logo">
        <div>
            <p>Rockline</p>
            <p><small>Public<i class="fas fa-caret-down"></i></small></p>

        </div>
   </div>
   <div class="post-input-container">
    <textarea rows="3" placeholder="whats ur idea to explore,rock?"></textarea>
    <div class="add-post-links">
        <a href="#"><img src="C:\\Users\\Admin\\Downloads\\mixkit-waterfall-in-forest-2213-medium\\">Live Video</a>
        <a href="#"><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fschool.careers360.com%2Fbeauty-of-nature-essay-essy&psig=AOvVaw140Zb_Ahu0g1P4wA7WgWoO&ust=1700923046474000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMjukqbu3IIDFQAAAAAdAAAAABAE">Photo/Video</a>
        <a href="#"><img src="C:\\Users\\Admin\\Downloads\\pexels-kabbo-talukder-6405813 (1080p)">Feeling/Activity</a>
   </div>
</div>