<style>
  .heads {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    opacity: 0.8;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0.9rem;
  }
  .event img {
    width: 25%;
    height: 100%;
    margin-right: 0.5rem;
  }
  .event {
    display: flex;
    margin-left: 0.7rem;
    align-items: center;
    margin-top: 0.1rem;
    scale: 0.9;
  }
  .eventInfo h6,
  p {
    margin: 0;
    opacity: 0.8;
  }
  .eventInfo a {
    font-size: smaller;
  }
  .add {
    margin-top: 0;
  }
  .add .heads {
    margin-top: 0.7rem;
  }
  .add img {
    width: 85%;
    margin-top: 0.2rem;
    margin-left: 1.5rem;
    border-radius: 1rem;
  }
</style>

<div class="events">
  <div class="heads">
    <h5>Events</h5>
    <a href="">See All</a>
  </div>
  <div class="event">
    <img
      src="https://researchmaniacs.com/Calendar-Dates/Images/March-18.png"
      alt=""
    />
    <div class="eventInfo">
      <h6>Social Media</h6>
      <i class="fa-solid fa-location-dot"></i>
      <p style="display: inline">Willson Teck Park</p>
      <br />
      <a href="">More Info</a>
    </div>
  </div>

  <div class="event">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfaAr6XPMSSpO705ZIp5uB2mbPhflJ1dbMKZdW3K67M0SfYB5nsgzvaY4YTIwJvV6A3gQ&usqp=CAU"
      alt=""
    />
    <div class="eventInfo">
      <h6>Mobile Marketing</h6>
      <i class="fa-solid fa-location-dot"></i>
      <p style="display: inline">Willson Teck Park</p>
      <br />
      <a href="">More Info</a>
    </div>
  </div>
</div>

<div class="add">
  <div class="heads">
    <h5>Advertisement</h5>
    <a href="">Close</a>
  </div>
  <img
    src="https://blog.ipleaders.in/wp-content/uploads/2021/10/Advertisement-Media.jpg"
    alt=""
  />
</div>

<div class="conv">
  <div class="heads" style="margin-top: 1.7rem">
    <h5>Conversations</h5>
    <a href="">Hide Users</a>
  </div>
  <a id="chatBtn" style="text-decoration: none; color: black" href="/chatWindow"
    ><div class="chatBtn">
      <button
        class="btn btn-primary"
        style="margin-left: 2rem; margin-top: 1rem"
      >
        Go to Chat window
      </button>
    </div></a
  >
  <a id="chatBtn" style="text-decoration: none; color: black" href="/groupChat"
    ><div class="chatBtn">
      <button
        class="btn btn-primary"
        style="margin-left: 2rem; margin-top: 1rem"
      >
        Open Group Chat
      </button>
    </div></a
  >
</div>
