<style>
  .story-section {
    height: 25%;
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
    padding: 0.3rem 0.4rem 0.2rem 0.4rem;
  }

  .post,
  .CreatePost {
    width: 100px;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem;
    margin-right: 0.6rem;
    background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
      url("https://image.winudf.com/v2/image/Y29tLmRlaGF0aW11c2ljMS5BQUFfc2NyZWVuXzBfMTUzOTg3NzgxMV8wMDA/screen-0.webp?fakeurl=1&type=.webp");
  }

  .post p {
    position: relative;
    left: 1rem;
    top: 5rem;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: smaller;
  }
  .CreatePost p {
    position: relative;
    left: 1rem;
    top: 5.2rem;
    color: rgb(255, 255, 255);
    font-weight: 450;
    font-size: smaller;
  }

  .CreatePost i {
    position: relative;
    left: 2rem;
    top: 5.2rem;
    font-size: xx-large;
    color: rgb(255, 251, 251);
  }

  .post .status-logo {
    width: 2.4rem;
    height: min-content;
    border-radius: 100%;
    position: relative;
    left: 0.9rem;
    top: 0.5rem;
    border: 3px solid #1876f2;
    z-index: 1;
  }

  .fa-solid:hover {
    scale: 1.1;
    cursor: pointer;
  }
  .post .status-logo:hover {
    scale: 1.1;
    cursor: pointer;
  }
</style>
<div class="CreatePost">
  <i class="fa-solid fa-circle-plus"></i>
  <p>Post Story</p>
</div>
<div
  class="post"
  style="
    background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
      url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEghexqrvYxkj2WyJRj_k6eFF_8u681wgnRG4SElVfiQjrAfSDjZBfQAAbbItxGwRT2PzQ4JexDx1YTL-3nwJUP6-4B3glDe3EZDFQqOcuLmDUWt70edubHrn2c1zHw_Qkb2esKGwGNNU1d3ZzNRT14v9rHQNd5cCmK3Xd_fFxFdhnmIqnvjlyrK_S1Mdg/s1422/wallpaper%20GREEN%20TREE%20%20nature.jpg);
  "
>
  <img
    class="status-logo"
    src="https://img.freepik.com/premium-vector/man-face-design-logo-premium_96853-366.jpg"
    alt=""
  />
  <p>Abubakar</p>
</div>
<div
  class="post"
  style="
    background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
      url(https://i.pinimg.com/originals/a7/a5/7a/a7a57af2650f47d6845e2d0fd51f1313.jpg);
  "
>
  <img
    class="status-logo"
    src="https://img.freepik.com/premium-vector/man-face-design-logo-premium_96853-366.jpg"
    alt=""
  />
  <p>Abubakar</p>
</div>
<div
  class="post"
  style="
    background-image: linear-gradient(transparent, rgb(0, 0, 0, 0.5)),
      url(https://wallpapers.com/images/hd/4k-nature-iphone-li6igciv04eehdav.jpg);
  "
>
  <img
    class="status-logo"
    src="https://img.freepik.com/premium-vector/man-face-design-logo-premium_96853-366.jpg"
    alt=""
  />
  <p>Abubakar</p>
</div>
