<% layout("/layouts/boilerplate") -%>
<body>
  <style>
    @media only screen and (max-width: 435px) {
    }
  </style>
  <div class="row mt-5">
    <div class="col-10 col-lg-6 col-md-6 offset-lg-2 offset-1">
      <h3>Upload Story Image</h3>
      <p>Image Should be in portrait mode</p>
      <form
        onsubmit="return validateForm()"
        method="post"
        action="/newStory"
        novalidate
        class="needs-validation mt-5"
        enctype="multipart/form-data"
        style="width: 100%"
      >
        <div class="mb-3">
          <label for="image" class="form-label">Upload Story Image</label>
          <input
            type="file"
            class="form-control inpFile"
            name="storyImage"
            accept="image/*"
          />
          <div class="valid-feedback" id="imgLooksGood">Looks good!</div>
          <div class="invalid-feedback">Story Image is required</div>
          <div class="invalid-feedback" id="imageNot">
            Please Select Image File!
          </div>
        </div>

        <button class="btn btn-success add-btn mt-3">Create Story</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>

<script>
  function validateForm() {
    var fileInput = document.querySelector('input[name="storyImage"]');
    var file = fileInput.files[0];
    if (!file || !file.type.startsWith("image/")) {
      document.getElementById("imageNot").style.display = "block";
      document.getElementById("imgLooksGood").style.display = "none";
      return false;
    }
    return true; // Proceed with form submission
  }
</script>
