<style>
  .new-post {
    background-color: white;
    height: fit-content;
    border-radius: 1rem;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
  }
  .newUserInfo {
    width: 100%;
    display: flex;
    font-size: small;
    padding: 0.4rem 0.7rem;
  }

  .newUserInfo img {
    width: 7.5%;
    height: 100%;
    border-radius: 50%;
    margin-right: 0.6rem;
    position: relative;
    bottom: 0.2rem;
  }
  .newUserInfo img:hover {
    cursor: pointer;
  }
  .newUserInfo i {
    position: relative;
    font-size: medium;
    top: 0.8rem;
    margin-left: 28.5rem;
  }

  .newInfo h6 {
    margin-bottom: 1px;
  }
  .newInfo h6:hover {
    cursor: pointer;
  }

  .newInfo p {
    opacity: 0.7;
    margin-bottom: 0;
    font-size: small;
  }
  .newUserInfo {
    align-items: center;
  }
  .postDetails textarea {
    margin-top: 0.5rem;
    margin-left: 1rem;
    height: 4rem;
    width: 90%;
    border: none;
    resize: none; /* Prevents the user from resizing the textarea */
    outline: none; /* Removes the border highlight when the textarea is focused */
  }
  .newPostIcons {
    margin-left: 2.2rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;
  }
  .newPostHr {
    margin: 0;
    width: 80%;
  }
  .newPostIcon {
    margin-right: 1.5rem;
  }
  .newPostIcon:hover {
    cursor: pointer;
  }
  .postSendBtn {
    margin-left: auto;
  }
  .postSendBtn:hover {
    scale: 1.1;
  }
  @media screen and (max-width: 767px) {
    /* Styles for screens with a maximum width of 767 pixels */
    .activity,
    .live {
      display: none;
    }
  }
</style>
<% if(currUser){ %>

<div class="newUserInfo">
  <img src="<%= currUser.image.url %>" alt="" />
  <div class="newInfo">
    <h6><%= currUser.username %></h6>
    <p>Public</p>
  </div>
</div>
<center>
  <div class="postDetails">
    <form method="post" action="/newpost">
      <textarea
        name="description"
        placeholder="What's On Your Mind, <%= currUser.username %>?"
      ></textarea>
      <hr class="newPostHr" />
      <div class="newPostIcons">
        <div class="live newPostIcon">
          <i class="fa-solid fa-video" style="color: red"></i>
          <p style="display: inline">Live Vedio</p>
        </div>
        <div class="camara newPostIcon">
          <button
            type="submit"
            style="
              text-decoration: none;
              color: black;
              border: none;
              background-color: white;
            "
          >
            <i class="fa-solid fa-camera" style="color: green"></i>
            <p style="display: inline">Photo/Video</p>
          </button>
        </div>
        <div class="activity newPostIcon">
          <i
            class="fa-regular fa-face-smile"
            style="color: rgb(153, 153, 26)"
          ></i>
          <p style="display: inline">Feling/Activity</p>
        </div>
        <div class="postSendBtn newPostIcon">
          <button
            type="submit"
            style="
              text-decoration: none;
              color: black;
              border: none;
              background-color: white;
            "
          >
            <i class="fa-solid fa-paper-plane"></i>
            <p>Send</p>
          </button>
        </div>
      </div>
    </form>
  </div>
</center>
<% }else{ %>
<div class="newUserInfo">
  <img
    src="https://img.freepik.com/premium-vector/man-face-design-logo-premium_96853-366.jpg"
    alt=""
  />
  <div class="newInfo">
    <h6>UserName</h6>
    <p>Public</p>
  </div>
</div>
<center>
  <div class="postDetails">
    <form method="post" action="/newpost">
      <textarea
        name="description"
        placeholder="What's On Your Mind, userName?"
      ></textarea>
      <hr class="newPostHr" />
      <div class="newPostIcons">
        <div class="live newPostIcon">
          <i class="fa-solid fa-video" style="color: red"></i>
          <p style="display: inline">Live Vedio</p>
        </div>
        <div class="camara newPostIcon">
          <button
            type="submit"
            style="
              text-decoration: none;
              color: black;
              border: none;
              background-color: white;
            "
          >
            <i class="fa-solid fa-camera" style="color: green"></i>
            <p style="display: inline">Photo/Video</p>
          </button>
        </div>
        <div class="activity newPostIcon">
          <i
            class="fa-regular fa-face-smile"
            style="color: rgb(153, 153, 26)"
          ></i>
          <p style="display: inline">Feling/Activity</p>
        </div>
        <div class="postSendBtn newPostIcon">
          <button
            type="submit"
            style="
              text-decoration: none;
              color: black;
              border: none;
              background-color: white;
            "
          >
            <i class="fa-solid fa-paper-plane"></i>
            <p>Send</p>
          </button>
        </div>
      </div>
    </form>
  </div>
</center>
<% } %>
